body {
    font-family: OpenSans-Regular;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
    box-sizing: border-box;
  }

@font-face {
    font-family: OpenSans-Regular;
     src: url("assets/fonts/OpenSans-Regular.ttf");
   }
   @font-face {
    font-family: Ubuntu-Regular;
     src: url("assets/fonts/Ubuntu-Regular.ttf");
   }
   .footer {

    border: 1px solid red;
   }
   .container {
    max-width: 1440px;
    margin: 0 auto;
   }